:host {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 0px 15px;
  line-height: 1.4;
  position: relative;
  top: -2.636719vh;
  @media (max-width: 37.5rem) {
    flex-direction: column;
  }
}

input {
  padding: 1rem;
  border: 1px solid rgb(13, 13, 13);
  border-radius: 8px;
  background: rgb(38, 38, 38);
  color: rgb(242, 242, 242);
  &::placeholder {
    color: rgb(128, 128, 128);
  }
  flex-basis: 87.637363%; /* 638/728 */
}
