<form #taskForm="ngForm" (ngSubmit)="onSubmit()">
  <div class="flex-row">
    <h3>{{ formConfig.title }}</h3>
    <button
      class="cross"
      type="button"
      (click)="formService.removeForm()"
    ></button>
  </div>
  <div>
    <input
      type="text"
      name="task-title"
      id="task-title"
      placeholder="Enter task title"
      required
      autocomplete=""
      [(ngModel)]="formConfig.formValues.title"
    />
    <label for="task-title">Task Title</label>
  </div>
  <div>
    <textarea
      name="task-desc"
      id="task-desc"
      rows="6"
      placeholder="Enter Task Description (optional)"
      [(ngModel)]="formConfig.formValues.desc"
    ></textarea>
    <label for="task-desc">Task Description</label>
  </div>
  <div *ngIf="formConfig.formType === 'edit'">
    <div class="checkbox">
      <app-checkbox
        (inputCheckedEvent)="formConfig.formValues.completed = $event"
      ></app-checkbox>
      <div class="checkbox-title">
        <span *ngIf="formConfig.formValues.completed; else undone" @fadeInOut>
          Completed
        </span>
        <ng-template #undone> <span @fadeInOut> Undone </span></ng-template>
      </div>
    </div>
    <label for="completed">Task Completion</label>
  </div>
  <button type="submit" [disabled]="taskForm.invalid">
    <app-button [buttonConfig]="formConfig.buttonConfig"></app-button>
  </button>
</form>
