:host {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  text-align: center;
  flex-shrink: 0;
}
:host.create-btn,
:host.edit-btn {
  border-radius: 8px;
  background: rgb(30, 111, 159);
  padding: 1rem;
  transition: background 0.3s;
  &:hover,
  &:focus-visible {
    background: rgb(78, 168, 222);
  }
  > svg {
    width: 16px;
    height: 16px;
    fill: rgb(242, 242, 242);
    transform: translateY(3px);
    margin-left: 8px;
  }
}
