@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(./Inter_18pt-Regular.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url(./Inter_18pt-Bold.woff2);
}
@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(./Inter_18pt-Black.woff2);
}
