:host {
  display: block;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
  text-align: center;
}

h2 {
  font-size: 3rem;
  color: red;
  text-align: center;
  margin-bottom: 1rem;
  @media (max-width: 48rem) {
    font-size: 2rem;
  }
}

button {
  padding: 16px;
  font-size: 1.5rem;
  border-radius: 8px;
  background: rgb(34, 30, 159);
}
