<div class="task__title-container">
  <h5 class="task__title">{{ task.title }}</h5>
  <div>
    <button type="button" class="task__edit" (click)="editTask()">
      <svg>
        <use href="icons/sprite.svg#edit"></use>
      </svg>
    </button>
    <button type="button" class="task__delete" (click)="deleteTask()">
      <svg>
        <use href="icons/sprite.svg#trash"></use>
      </svg>
    </button>
  </div>
</div>
<div class="task__body">
  <app-checkbox
    [checkboxInputs]="{ id: localId, isChecked: task.completed }"
    (inputCheckedEvent)="task.completed = $event"
  ></app-checkbox>
  <p class="task__desc">
    {{ task.desc }}
  </p>
</div>
