:host {
  display: block;
  border: 1px solid rgb(51, 51, 51);
  border-radius: 8px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  padding: 16px;
  transition: background-color 0.3s;
}

.task {
  &__title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  // .task__title
  &__title {
    font-size: 20px;
    transition: all 0.3s;
  }
  // .task__body
  &__body {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__desc {
    transition: all 0.3s;
  }
  // .task__edit
  &__edit {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    > svg {
      width: 20px;
      height: 20px;
      &:hover {
        fill: rgb(78, 168, 222);
      }
    }
  }
  // .task__delete
  &__delete {
    width: 18px;
    height: 20px;
    > svg {
      width: 18px;
      height: 20px;
      &:hover {
        fill: rgb(226, 88, 88);
      }
    }
  }
}

svg {
  fill: rgb(128, 128, 128);
  transition: fill 0.3s;
}

:host.strikethrough {
  & .task__title,
  .task__desc {
    color: rgb(128, 128, 128);
    text-decoration-line: line-through;
  }
}
