<div class="task__title-container">
  <h5 class="task__title">Task Title</h5>
  <div>
    <button type="button" class="task__edit">
      <svg>
        <use href="icons/sprite.svg#edit"></use>
      </svg>
    </button>
    <button type="button" class="task__delete">
      <svg>
        <use href="icons/sprite.svg#trash"></use>
      </svg>
    </button>
  </div>
</div>
<div class="task__body">
  <app-checkbox></app-checkbox>
  <p class="task__desc">
    Integer urna interdum massa libero auctor neque turpis turpis semper. Duis
    vel sed fames integer.
  </p>
</div>
