:host {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 19.53125vh; /* 200/1024 */
  background-color: rgb(13, 13, 13);
  padding-bottom: 3vh;
}
.title {
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.2;
  @media (max-width: 64rem) {
    font-size: 2.5rem;
  }
}
.logo {
  width: 32px;
  height: 50px;
  margin-right: 12px;
  vertical-align: middle;
  @media (max-width: 64rem) {
    width: 22px;
    height: 36px;
  }
}
.title-first {
  color: rgb(78, 168, 222);
}
.title-second {
  color: rgb(94, 96, 206);
}
